@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

h2 {
    letter-spacing: 3.2px;
    font-weight: bold;
    font-size: 48px;
    color: #3d3d3d;
    margin: auto;
}

body {
    font-family: 'Lato', sans-serif;
    border: 20px solid #BDC3C7;
    border-radius: 20px;
    width: 80%;
    padding: 14px;
    margin: auto;
}

.one {
    border-bottom: 5px solid #BDC3C7;
    text-align: right;
    padding-top: 0px;
} 

.two {
    border-bottom: 5px solid #BDC3C7;
    text-align: center;
}

.fourth {
    border-bottom: 5px solid #BDC3C7;
    text-align: right;
    padding-top: 0px;
}

.fifth {
    border-bottom: 5px solid #BDC3C7;
    text-align: center;
}
.three {
    border-bottom: 10px solid #BDC3C7;
    text-align: right;
    padding-bottom: 10px;
}

h3 {
    text-align: right;
    color: #3498DB;
    text-transform: uppercase;
    padding: 1px 10px 0px 5px;
}

.sixth {
    text-align: right;
}

p {
    padding: 10px;
}

/* Bonus #1  */

/* body {
    border-radius: 20px;
} */

/* Bonus #2 */
h2:hover {
    text-align: center;
    /* VMAX and VMIN can be used to size most things with CSS. VMIN will base the sizing off of the Smaller of the two (Height and Width of the viewport). VMAX will base the sizing off of  the Larger of the two (Height and Width of the viewport) */
    /* letter-spacing: 20px */
    /* letter-spacing: 1.7vm; */
}